p
  | Welcome to Alexa reading skills.
if !hasDisplay && !userWarned
  | I noticed your Alexa device does not have a display.
  | In order to utilize this skill you must have a device with display such as the Echo Show or Spot so that you can see the words.
p
  | What would you like to practice?  Examples are sight words, etc.
